.file-container {
  margin-block: 1.5rem;
  cursor: pointer;
}
.add-button {
  background: #ceeeee;
  color: #326666;
  padding-block: 0.8rem;
  padding-inline: 1rem;
  border-radius: 10px;
  font-weight: 600;
}
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #b6d6f8;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}