@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 2.5rem;
}

.button-container {
  width: 120px;
  height: 2.5rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 0.5rem;
}

.button-container a {
  text-decoration: none;
  color: #000000;
  font-family: "PT Sans", sans-serif;
}

.button-container p {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 800;
  font-size: 0.6rem;
}
.button-content {
  margin-inline-start: 10px;
}
.content-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
  background-image: url("../assets/book my show logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.heyareweare-logo {
  position: absolute;
  cursor: pointer;
  bottom: 5px;
  right: 10px;
}

.heyareweare-logo img {
  width: 100px;
  height: 30px;
}

/* Media query for tablets (screens wider than 768px) */
@media (min-width: 768px) {
  .heyareweare-logo img {
    width: 120px;
    height: 40px;
  }
}

.social-links {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 10px;
  right: 50%;
  transform: translate(50%);
}
.social-links a {
  color: #ceeeee;
}
@media (max-height: 600px) {
  .footer-container {
    height: 15dvh;
  }
}
