.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 2.5rem;
}
/* .button-container {
  background: whitesmoke;
  height: 2.5rem;
  width: 150px;
  border-radius: 10px;
} */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.button-container {
  width: 150px;
  height: 2.5rem;
  background-color: whitesmoke;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 0.5rem;

  a {
    text-decoration: none;
    color: #000000;
    font-family: "PT Sans", sans-serif;
  }

  p {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-weight: 800;
    font-size: 0.6rem;
  }
}

.content-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
  background-image: url("../assets/book my show logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.heyareweare-logo {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 10px;

  img {
    width: 70px;
    height: 60px;
  }
}
