@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 2.5rem;
}

.button-container {
  width: 150px;
  height: 2.5rem;
  background-color: whitesmoke;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 0.5rem;
}

.button-container a {
  text-decoration: none;
  color: #000000;
  font-family: "PT Sans", sans-serif;
}

.button-container p {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 800;
  font-size: 0.6rem;
}

.content-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
  background-image: url("../assets/book my show logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.heyareweare-logo {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 10px;
}

.heyareweare-logo img {
  width: 85px;
  height: 70px;
}

/* Media query for tablets (screens wider than 768px) */
@media (min-width: 768px) {
  .heyareweare-logo img {
    width: 90px;
    height: 80px;
  }
}

/* Media query for laptops (screens wider than 1024px) */
@media (min-width: 1024px) {
  .heyareweare-logo img {
    width: 110px;
    height: 100px;
  }
}

/* Media query for desktops (screens wider than 1280px) */
@media (min-width: 1280px) {
  .heyareweare-logo img {
    width: 130px;
    height: 120px;
  }
}
