.Header-container {
  color: white;
  height: 30dvh;
  display: flex;
  flex-direction: column;
}

.logo1 {
  height: 40%;
  width: 100%;
}

.logo2 {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

#ags-logo {
  height: 120%;
  margin-inline: 1rem;
}

#goat-logo {
  height: 200%;
}

/* Media query for tablets (screens wider than 768px) */
@media (min-width: 768px) {
  #ags-logo {
    height: 120%;
  }
}

/* Media query for laptops (screens wider than 1024px) */
@media (min-width: 1024px) {
  #ags-logo {
    height: 150%;
  }
}

/* Media query for desktops (screens wider than 1280px) */
@media (min-width: 1280px) {
  #ags-logo {
    height: 180%;
  }
}
