.Header-container {
  color: white;
  height: 30dvh;
  display: flex;
  flex-direction: column;
}
.logo1 {
  height: 40%;
  width: max-content;
  cursor: pointer;
}
.logo2 {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

#ags-logo {
  height: 80%;
  margin-inline: 1rem;
}
#goat-logo {
  height: 200%;
}
